<div *ngIf="projectData" class="card-container">

<div class="project-list" *ngIf="projectData">
    <mat-card class="project-card">
        <div class="project-details">
            <h2 class="project-name">{{ projectData.title }}</h2>
            <p class="project-description">{{ projectData.description }}</p>

            <mat-divider></mat-divider>
            <div class="project-info">
                <div class="info-row">
                      <span class="info-label">Due Date:</span>
                      <span class="info-value">{{ projectData.dueDate | date: 'MMM d, y'}}</span>
                </div>
                <div class="info-row">
                    <span class="info-label">Employee:</span>
                    <span class="info-value">{{ projectData.employeeName }}</span>
              </div>
              <div class="info-row">
                <span class="info-label">Priority:</span>
                <span class="info-value">{{ projectData.priority }}</span>
              </div>
              <div class="info-row">
                <span class="info-label">Status:</span>
                <span class="info-value">{{ projectData.projectStatus }}</span> 
               </div>
            </div>
      </div>
    </mat-card>
</div>   
<mat-card class="comment-card">
    <mat-card-content>
        <h4>Publish Your Comment</h4>
        <form [formGroup]="commentForm">
            <mat-form-field appearance="fill">
                <mat-label>Content</mat-label>
                <textarea matInput formControlName="content" placeholder="Please write your comment here..."></textarea>
            </mat-form-field>
            <button mat-raised-button color="primary" style="float: right;" [disabled]="!commentForm.valid"
                (click)="publishComment()">Publish Comment</button>
        </form>
    </mat-card-content>
</mat-card>


<div style="margin-top: 10px;">
    <h4>Comments</h4>
    <mat-card *ngFor="let comment of comments" style="margin-top: 10px;">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image">

            </div>
            <mat-card-title>{{ comment.postedBy }}</mat-card-title>
            <mat-card-subtitle>{{ comment.createdAt | date:'medium' }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            {{ comment.content }}
        </mat-card-content>

    </mat-card>

</div>

</div>